<h1>All posts with comments!!</h1>
<%= link_to user_path(@user), class: 'goback' do %><span>&laquo; Go Back </span><% end %>
<section class="section-index-users">
<%= render 'partials/users', use: @user %>
<%= render 'partials/allposts' %>
</section>